source https://api.nuget.org/v3/index.json

framework: net8.0

nuget FSharp.Core >= 8.0.0
nuget MonoGame.Framework.DesktopGL 3.8.1.303
nuget MonoGame.Extended 4.0.0
nuget MonoGame.Extended.Content.Pipeline 4.0.0
nuget MonoGame.Content.Builder.Task 3.8.1.303